<div class="cold-md-12 mt-3">

    <p>Modifica tus datos personales de usuario</p>

    <!-- <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
		El registro se ha completado correctamente, <a [routerLink]="['/login']">logeate aquí</a>
	</div> -->

    <form class="col-md-5 ml-0 pl-0" [formGroup]="forma" (ngSubmit)="onSubmit(user)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" formControlName="name" [class.is-invalid]="nombreNoValido">
            <small *ngIf="nombreNoValido" class="text-danger">
                write the name
            </small>
        </div>

        <div lass="form-group">
            <label for="name">Apellidos</label>
            <input type="text"  class="form-control" formControlName="surname" [class.is-invalid]="surnameNoValido">
            <small *ngIf="surnameNoValido" class="text-danger">
                write the name
            </small>
    </div>

    <div class="form-group">
            <label for="name">Email</label>
            <input type="email"  class="form-control" formControlName="email" [class.is-invalid]="emailNoValido">
            <small *ngIf="emailNoValido" class="text-danger">
                write the name
            </small>
    </div>

    <div class="form-group">
            <label for="name">biografia</label>
            <textarea type="text"  class="form-control" formControlName="description" [class.is-invalid]="descriptionNoValido"></textarea>
            <small *ngIf="descriptionNoValido" class="text-danger">
                write the description
            </small>
    </div>

    <div class="form-group">
        <label for="name">avatar</label>
        <input type="file" name="image" class="form-control"/>
    </div>

    <div class="form-group">
           <input type="submit" value="Actualizar" class="btn btn-success">
    </div>
    </form>



    <pre>
        form state: {{ forma.valid }}
        <br>
        Status: {{ forma.status }}
      </pre>


</div>
